@import "../../style/color_themes";
@import '../../style/variables.scss';

.Chat.layout-wrapper {
    display: flex;
    height: 100dvh;
    overflow-x: hidden;
    background-color: var(--menu-bg-color);

    /* global styles starts here */

    .no-select {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
        supported by Chrome, Edge, Opera and Firefox */
    }

    .cursor-pointer {
        cursor: pointer;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
    .more-width::-webkit-scrollbar {
        width: 15px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
        border-radius: 10px;
    }

    @-moz-document url-prefix() {
        * {
            scrollbar-width: thin;
            scrollbar-color: var(--scrollbar-thumb-color) transparent;
        }
    }


    /* global styles ends here */


    .tab-content {
        width: 400px;
        background-color: var(--tab-content-bg-color);
        border-style: solid;
        border-width: 0 2px;
        border-color: var(--tab-content-border-color);
    }

    .no-selected-chat {
        flex: 1;
        background-color: transparent;
    }

    @media screen and (max-width: 1000px) {
        & {
            flex-direction: column-reverse;
        }

        .tab-content {
            width: 100%;
            height: calc(100% - $bottom-menu-size);
            border: none;
        }

        .no-selected-chat {
            display: none;
        }
    }
}