.loading-animation.bouncing-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    gap: 2em;

    div {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        animation-name: bounce;
        animation-iteration-count: infinite;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(0.6em);
        }
        75% {
            transform: translateY(-0.6em);
        }
    }
}