.Chat {
    .blocked-contact-box {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 500;
        padding: 8px;
        border-bottom: 1px solid var(--contact-box-border-color);
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: var(--contact_box-hover-bg-color);
        }

        .profile-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            h3 {
                color: white;
                font-size: 25px;
                font-weight: 600;
            }
        }

        .account_info {
            flex: 1;
            h3 {
                font-size: 17px;
                font-weight: 600;
                margin-bottom: 3px;
            }
            p {
                font-size: 12px;
                font-weight: 400;
            }
        }

        .btn-unblock {
            svg {
                width: 30px;
                height: 30px;
                padding: 5px;
                cursor: pointer;
                fill: var(--primary-text-color);
            }
        }
    }
}