$search-box-size: 40px;

.Chat .search-box {
    height: $search-box-size;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    height: $search-box-size;
    background-color: var(--contacts-tab-search-box-bg-color);

    .start-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $search-box-size;
        height: $search-box-size;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        flex-shrink: 0;

        svg {
            width: 100%;
            height: 100%;
            padding: 10px;
            fill: var(--contacts-tab-search-box-icon-color);
            margin: 0;
        }
    }

    input {
        color: var(--primary-text-color);
        flex: 1;
        height: 100%;
        font-size: 15px;
        outline: none;
        border: 0;
        background-color: transparent;
        letter-spacing: 0.2px;
        width: 100%;

        &::placeholder {
            color: var(--placeholder-color);
        }
    }

    .clear-icon {
        height: $search-box-size - 10px;
        width: $search-box-size - 10px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
            fill: var(--contacts-tab-search-box-icon-color);
            margin: 0;
        }
    }
}